[Unit]
Description=HASHTOPOLIS STARTUP
After=hive.service

[Service]
ExecStart=/hashtopolis/hashtopolis_startup.sh

[Install]
WantedBy=default.target
