[Unit]
Description=Hashtopolis Startup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/python3 /hashtopolis/'agents.php?download=1'
StandardInput=tty-force
WorkingDirectory=/hashtopolis/

[Install]
WantedBy=multi-user.target
